{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 style="text-align: center;">product</h1>
  </div>

<table class="table table-info">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">Category</th>
        <th scope="col">data</th>
      </tr>
    </thead>
    {% for i in products %}
    <tbody>
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.price}}</td>
        <td>{{i.Category}}</td>
        <td>{{i.data}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock content %}